.myName {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.myName::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.myName * {
  position: relative;
  z-index: 2;
}

.myName h1,
.myName {
  color: white;
}

.myName h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
